__pycache__
.idea
*.pyc
*.orig
*.iml
*.cmd
*.db
.Spotlight-V100
.Trashes
vscode

cache
/media
orangedata
/static
/staticfiles
/logs/*
/conf/*

env
venv

locale
dump
dumps
/doc
/sql
/docs/api/_build
/docs/api/build
/docs/sync/_build
/docs/sync/build

/sync/data/
*/management/data

node_modules
ehthumbs.db
Thumbs.db
package-lock.json
yarn.lock

.DS_Store
*.sublime-project
*.sublime-workspace

local_settings.py

.coverage
.html
.pytest_cache/
/CA.pem
*.cer
certs/
